{% extends 'tournaments/base.html' %}

{% block content %}
<h1>Hole {{hole.0.hole_number}}</h1>



<div class="row">
    <div class="edit-score-details">
        {% for score in player_scores.0 %}
        {% if score.hole.hole_number == hole.0.hole_number %}
        {{score.hole.yards}} yards <br>Par {{score.hole.par}} <br>S.I. {{score.hole.stroke_index}}
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="row">
    <form
        action="{% url 'scores' tournament=tournament holiday=holiday.slug selected_round=selected_round.round_number %}"
        method="post">

        {% csrf_token %}
        <input type="text" value="{{hole.0.id}}" name="hole" hidden>
        {% for player in player_scores %}
        {% for score in player %}
        {% if score.hole.hole_number == hole.0.hole_number %}

        <div class="row">
            <div class="col-6 col-lg-1">
                <div class="edit-score edit-score-name">{{score.player.first_name}}:</div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    
                    <input type="text" name="{{score.player.id}}" value={% if score.strokes == None %}
                    ""
                    {% else %}
                    {{score.strokes}} 
                    {% endif %}
                    {{score.strokes}}
                      id="{{player.0}}_handicap" class="input-group-text">
                      <div class="input-group-text input-group-text-check">
                        <input type="checkbox" class="form-check-input m-2" id="{{player.0}}" value="{{player.0.id}}"
                          name="selected_{{forloop.counter}}" onclick="ckChange(this)">
                        <label for="{{player.0}}" class="form-check-label"></label>
                      </div>

                  </div>
                
            </div>
        </div>
        {% endif %}

        {% endfor %}
        {% endfor %}
        <div class="d-grid col-2">
            <button type="submit" class="btn btn-outline-warning">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}