{% extends 'tournaments/base.html' %}

{% block content %}

<h1>Hole {{hole.0.hole_number}}</h1>

<body onload="ckload()">
    
</body>

<div class="row">
    <div class="edit-score-details">
        {% for score in player_scores.0 %}
        {% if score.hole.hole_number == hole.0.hole_number %}
        {{score.hole.yards}} yards <br>Par {{score.hole.par}} <br>S.I. {{score.hole.stroke_index}}
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="row">
    <form
        action="{% url 'scores' tournament=tournament holiday=holiday.slug selected_round=selected_round.round_number %}"
        method="post">

        {% csrf_token %}
        <input type="text" value="{{hole.0.id}}" name="hole" hidden>
        {% for player in player_scores %}
        {% for score in player %}
        {% if score.hole.hole_number == hole.0.hole_number %}

        <div class="row">
            <div class="col-6 col-lg-1">
                <div class="edit-score edit-score-name">{{score.player.first_name}}:</div>
            </div>
            <div class="col">
                <div class="input-group mb-3">

                    <input type="number" pattern="[0-9]*" inputmode="numeric" name="{{score.player.id}}" value={% if score.strokes == None %} "" {% else %}
                        {{score.strokes}} {% endif %} {{score.strokes}} id="{{player.0}}_handicap"
                        class="input-group-text">
                    <div class="input-group-text input-group-text-check">
                        <input type="checkbox" class="form-check-input m-2" id="{{score.player}}_sandy"
                            value="{{score.player.id}}" name="sandy" onclick="ckChange(this)" {% if score.sandy %}checked{% endif %}>
                        <label for="{{player.0}}" class="form-check-label">Sandy</label>
                        <script>
                            
                            var array_of_ticked = [];
                            function ckload(){
                                ckChange( document.querySelectorAll('input[checked]')[0]);
                            }
                            var out = "";
                            
                            function ckChange(ckType) {
                                var checked = document.getElementById(ckType.id);
                                console.log(ckType);
                                var just_checkboxes = document.querySelectorAll('input[type=checkbox]');

                                

                                if (!array_of_ticked.includes(checked)) {
                                    array_of_ticked.push(checked);
                                }
                                else {
                                    let index = array_of_ticked.indexOf(checked);
                                    array_of_ticked.splice(index, 1);
                                }
                                if (array_of_ticked.length == 1) {
                                    for (let i = 0; i < just_checkboxes.length; i++) {
                                        if (!array_of_ticked.includes(just_checkboxes[i])) {
                                            document.getElementById(just_checkboxes[i].id).setAttribute("disabled", "");
                                        }
                                    }
                                }
                                if (array_of_ticked.length != 1) {
                                    for (let i = 0; i < just_checkboxes.length; i++) {
                                        if (!array_of_ticked.includes(just_checkboxes[i])) {
                                            document.getElementById(just_checkboxes[i].id).removeAttribute("disabled", "");
                                        }
                                    }
                                }
                                console.log(array_of_ticked)
                            }
                        </script>
                    </div>

                </div>

            </div>
        </div>
        {% endif %}

        {% endfor %}
        {% endfor %}
        <div class="d-grid col-2">
            <button type="submit" class="btn btn-outline-warning">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}