{% extends 'tournaments/base.html' %}
{% block content %}

<div class="row">
    {% if user.is_superuser %}
    <a href="{% url 'new_highlight' %}">New highlight</a>
    {% endif %}
</div>
<div class="row">

    <div class="col-12">
        <h2>Highlights for holes</h2>
        {% for player in highlights %}
        <div class="d-flex flex-column row">

            <h2>{{player.player}}</h2>
            <div class="d-flex flex-wrap col-12">
            {% for highlight in player.clips %}
                <div class="p-2 col col-md-2 text-wrap text-break">
                    
                    <a href="{% url 'highlight_view' highlight=highlight.id %}">
                        <img class="thumbnail" src="/media/{{highlight.file}}" alt="">
                    </a>
                    <h4>{{highlight.title}}</h4>
                    
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-lg-6 col-12">
        <h2>Other Highlights</h2>
        {% for vid in other_vids%}
        <a href="{% url 'highlight_view' highlight=vid.id %}">
            <h4 class="mt-4 image-link">{{vid}}</h4>
        
        <img class="thumbnail" src="{{vid.thumbnail.url}}" alt="">
    </a><br>
        {% endfor %}
    </div>
</div>
{% endblock content%}