{% extends 'tournaments/base.html' %}
{% block content %}

<div class="row">
    {% if user.is_superuser %}
    <a href="{% url 'new_highlight' %}">New highlight</a>
    {% endif %}
</div>
<div class="row">

    <div class="col-lg-6 col-12">
        <h2>Highlights for holes</h2>


        {% for score in scores %}

        {% for highlight in score.highlight_link.all %}

        <a class="d-flex flex-column justify-content-center " href="{% url 'highlight_view' highlight=highlight.id %}">
            <h4 class="mt-4 image-link">{{highlight}}</h4>
            <h6 class="image-link">{{score.player}} on {{score.hole}}</h6>
            <h6 class="image-link">{{score.hole.course.resort.country}}</h6>


            <img class="thumbnail" src="{{highlight.thumbnail.url}}" alt="">
        </a><br>
        {% endfor %}
        {% endfor %}
    </div>
    <div class="col-lg-6 col-12">
        <h2>Other Highlights</h2>
        {% for vid in other_vids%}
        <a href="{% url 'highlight_view' highlight=vid.id %}">
            <h4 class="mt-4 image-link">{{vid}}</h4>
        
        <img class="thumbnail" src="{{vid.thumbnail.url}}" alt="">
    </a><br>
        {% endfor %}
    </div>
</div>
{% endblock content%}