{% extends 'tournaments/base.html' %}
{% block content %}

<h1>Home</h1>
<div class="row">
<div class="col-lg-6 ">

  {% for tournament in tournaments %}
  
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'tournament' tournament.slug %}">{{tournament}}</a>
  </ul>
  {% endfor %}
</div>
<div class="col-lg-6 "></div>
<div class="col-lg-6 ">
  
  <a class="navbar-brand" href="{% url 'scores' tournament=latest_round.holiday.tournament.slug holiday=latest_round.holiday.slug selected_round=latest_round.round_number %}">
    <h2>Latest Round</h2>
    {{latest_round.score_set.all.0.hole.course}}
    <br>
    Through xx

    {{latest_scores}}
  </a>
  
</div>
</div>


{% endblock content%}