{% extends 'tournaments/base.html' %}
{% block content %}
{% load static %}
</div>
<div id="carouselExampleAutoplaying" class="carousel slide pic-holder" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for image in images %}
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="{{forloop.counter|add:"-1"}}" class={% if forloop.counter == 1 %}"active"{% else %}""{% endif %} aria-current={% if forloop.counter == 1 %}"true"{% else %}""{% endif %} aria-label="Slide {{forloop.counter}}"></button>
    {% endfor %}

  </div>
  <div class="carousel-inner">
    {% for image in images %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{%else%}{%endif%}">
      <img src="{{image.image.url}}" class="d-block w-100 min-vh-100 picture" alt="...">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
<div class="row">

<div class="col-lg-6">

  
  
  <ul class="list-group m-3">
    {% for tournament in tournaments %}
    <a class="list-group-item list-group-item-action" href="{% url 'tournament' tournament.slug %}">{{tournament}}</a>
    {% endfor %}
  </ul>
  
</div>

<div class="col-lg-6 ">
  <div class="m-3">
    <div class="card">
      <div class="card-body">
        <a class="navbar-brand" href="{% url 'scores' tournament=latest_round.holiday.tournament.slug holiday=latest_round.holiday.slug selected_round=latest_round.round_number %}">
          <h2>Latest Round</h2>
          <p>{{latest_round.score_set.all.0.hole.course}}
          <br>
          Through {{through}}</p>
          
          <!-- {{latest_scores}} -->
        </a>
      </div>
    </div>
    
    
  </div>
</div>
</div>


{% endblock content%}