{% extends 'tournaments/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-5">
            <h1>Rounds</h1>


            <h1>{{holiday}}</h1>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3">
            <ul class="list-group">
                {% for round in rounds %}


                <a class="list-group-item list-group-item-action"
                    href="{% url 'scores' tournament=tournament holiday=holiday.slug selected_round=round.round_number %}">Round
                    {{round.round_number}}</a>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content%}