{% extends 'tournaments/base.html' %}

{% block title %}{{player_scores.0.0.hole.course}}{% endblock %}
{% block content %}
{% load static %}
{{player_scores.0.0.golf_round.holiday.id}}
<script src="{% static 'tournaments/js/d3.v7.js' %}" ></script>
<script id="hello-data" type="application/json">{"round_id": {{player_scores.0.0.golf_round.id}},"holiday_id":{{player_scores.0.0.golf_round.holiday.id}}}</script>

<h1>Scores</h1>
<div class="row">
    <div class="col">


<a class="navbar-brand" href="{% url 'tournament' tournament=tournament %}">
    <h2>{{player_scores.0.0.golf_round.holiday}}</h2>
</a>
<a class="navbar-brand" href="{% url 'rounds' tournament=tournament holiday=holiday.slug %}">
    <h3>Round {{player_scores.0.0.golf_round.round_number}}</h3>
</a>
<h3>{{player_scores.0.0.hole.course}}</h3>

    </div>
    <div class="col">
        <div class="table table-responsive-xxl">
            <table class="table table-hover">
                <tr>
                    <th></th>
                    <th>Handicap</th>
                    <th>Shots</th>
                    <th>To Par</th>
                    <th>Stableford</th>
                </tr> 
                {% for person in handicaps %}
                <tr>
                    <th>{{person.1}}</th>
                    <td>{{person.0}}</td>
                    <td>{{person.2}}</td>
                    <td>{{person.3}}</td>
                    <td>{{person.4}}</td>
                </tr>
                {% endfor %}   
            </table>
        </div>
    </div>
</div>








<div class="table table-responsive-xxl">
    <table class="table table-hover">
        <tr>
            <th scope="col" style="position: sticky;">Hole</th>
            {% for hole in player_scores.0 %}
            <th scope="col">{{hole.hole.hole_number}}<sub>{{hole.hole.yards}}</sub></th>
            {% endfor %}
        </tr>
        <tr>
            <th scope="col" style="position: sticky;">Par<sub>S.I.</sub></th>
            {% for hole in player_scores.0 %}
            <th scope="col">{{hole.hole.par}}<sub>{{hole.hole.stroke_index}}</sub></th>
            {% endfor %}
        </tr>
        {% for player in player_scores %}
        <tr>
            <th scope="row" style="position: sticky;">{{player.0.player.first_name}}</th>
            {% for score in player %}
            {% if score.strokes == None %}
            <td>
                
            </td>
            {% else %}
            <td>
                {{score.strokes}}<sub>{{score.stableford_score}}</sub>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <th></th>

            {% for hole in player_scores.0 %}
            <td>
                <a class='btn' href={% url 'edit_scores' tournament=tournament holiday=holiday.slug selected_round=selected_round.round_number hole=hole.hole.id %}>
                    Edit
                </a>
            </td>
            {% endfor %}

        </tr>
    </table>
</div>
<div class="row">
    <div class="col">
        <script type="module" src="{% static 'tournaments/js/scores_graph.js' %}"></script>
    </div>
</div>
{% endblock content %}