{% extends 'tournaments/base.html' %} 
{% block title%}{{player_scores.0.0.hole__course__course_name}}{% endblock %} 
{% block content%} 
{% load static %}
{% load mathfilters %}
<script src="{% static 'tournaments/js/d3.v7.js' %}"></script>
<script id="hello-data" type="application/json">
  {"round_id": {{player_scores.0.0.golf_round.id}},"holiday_id":{{player_scores.0.0.golf_round.holiday.id}}}
</script>

<a class="navbar-brand" href="{% url 'tournament' tournament=tournament %}"></a>
<h1>Scores</h1>
<div class="row">
  <div class="col">
    <a
      class="navbar-brand"
      href="{% url 'rounds' tournament=tournament holiday=holiday.slug%}"
    >
      <h2>
        {{player_scores.0.0.hole__course__course_name}}
        ({{player_scores.0.0.hole__course__tee}} tees)
      </h2>
    </a>
    <a
      class="navbar-brand"
      href="{% url 'scores' tournament=tournament holiday=holiday.slug selected_round=selected_round.round_number %}"
    >
      <h3>Round {{player_scores.0.0.golf_round__round_number}}</h3>
    </a>
    <h3>{{player_scores.0.0.hole.course}}</h3>
    <h5>Slope : {{player_scores.0.0.hole__course__slope_rating}}</h5>
    <h5>Course : {{player_scores.0.0.hole__course__course_rating}}</h5>
    <h5>Par : {{total_par}}</h5>
  </div>

  <div class="col-12 col-lg-6">
    {% if team_combos != None  and user.is_superuser %}
    <form action="{% url 'match_play' tournament=tournament holiday=holiday.slug selected_round=selected_round.round_number %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="" class="form-label">Team</label>
        <select
        class="form-select form-select-lg"
        name="team_choice"
        id=""
        >
        {% if current_teams %}
        <option selected>{{current_teams.0}} vs {{current_teams.1}}</option>
        {% else %}
        <option selected>None Selected</option>
        {% endif %}
        {% for combo in team_combos %}
        <option value="{{combo.1}}">{{combo.0}}</option>
        {% endfor %}
        
      </select>
      
    </div>
    
    <button
    type="submit"
    class="btn btn-warning"
    >
    Submit
  </button>
  
</form>
{% endif %}
{% if current_teams != None  %}
<h2>{{current_teams.0}} vs {{current_teams.1}}</h2>
<h3>
{% if handicaps.0.12 > 0 %}
{{current_teams.0}} {{handicaps.0.12}} Up
{% elif handicaps.0.12 < 0 %}
{{current_teams.1}} {{handicaps.0.12|cut:"-"}} Up
{% else %}
A/S
{% endif %}
</h3>
{% endif %}
</div>
  <div class="col-12 col-lg-6">
    <div class="table table-responsive-xxl">
      <table class="table table-hover">
        <tr>
          <th></th>
          <th>Handicap</th>
          <th>Shots</th>
          <th>To Par</th>
          <th>Stableford</th>
          <th>Index</th>
        </tr>
        {% for person in handicaps %}
        <tr>
          <th>{{person.1}}</th>
          <td>{{person.0}}</td>
          <td>{{person.2}}</td>
          <td>{{person.3}}</td>
          <td>{{person.4}}</td>
          <td>{{person.5}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
    <div class="col-12 col-lg-6">
      <div class="table table-responsive-xxl">
        <table class="table table-hover">
          <tr>
            <th></th>
            <th>Out</th>
            <th>In</th>
            <th>Out To Par</th>
            <th>In To Par</th>
            <th>Points Out</th>
            <th>Points In</th>
          </tr>
          {% for person in handicaps %}
          <tr>
            <th>{{person.1}}</th>
            <td>{{person.6}}</td>
            <td>{{person.7}}</td>
            <td>{{person.8}}</td>
            <td>{{person.9}}</td>
            <td>{{person.10}}</td>
            <td>{{person.11}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col">
    {% if selected_round.round_number == rounds.first.round_number %} {% else %}
    <a
      class="navbar-brand"
      href="{% url 'scores' tournament=tournament holiday=holiday.slug selected_round=selected_round.round_number|add:'-1' %}"
      >Previous</a
    >
    {% endif %}
  </div>
  <div class="col d-flex justify-content-end">
    {% if selected_round.round_number == rounds.last.round_number %} {% else %}
    <a
      class="navbar-brand"
      href="{% url 'scores' tournament=tournament holiday=holiday.slug selected_round=selected_round.round_number|add:'1' %}"
      >Next</a
    >
    {% endif %}
  </div>
</div>
<div class="row p-3">
  <div class="col-12 col-lg-4 mt-1 mb-1">
    <button
    id="click_button"
    type="button"
    class="btn btn-warning col-12"
    onclick="view_stable()"
    >
    View Stableford
  </button>
</div>
<div class="col-12 col-lg-4 mt-1 mb-1">
  <button
  id="click_button"
  type="button"
  class="btn btn-warning col-12"
  onclick="view_to_par()"
  >
  View To Par
  </button>
</div>
<div class="col-12 col-lg-4 mt-1 mb-1">
  <button
  id="click_button"
  type="button"
  class="btn btn-warning col-12"
  onclick="view_to_handi()"
  >
  View To Handicap
</button>
</div>

</div>
<script type="text/javascript">

  var circles = document.getElementsByName('circle_view');
  var points = document.getElementsByName('points_view');
  var pars = document.getElementsByName('par_view');
  var button = document.getElementById('click_button');

  function view_stable(){
    Array.from(points).map(d=>d.removeAttribute('hidden','not'));
    Array.from(pars).map(d=>d.setAttribute('hidden',''));
    Array.from(circles).map(d=>d.setAttribute('hidden',''));

  }
  function view_to_handi(){
    Array.from(circles).map(d=>d.removeAttribute('hidden','not'));
    Array.from(pars).map(d=>d.setAttribute('hidden',''));
    Array.from(points).map(d=>d.setAttribute('hidden',''));

  }
  function view_to_par(){
    Array.from(pars).map(d=>d.removeAttribute('hidden','not'));
    Array.from(points).map(d=>d.setAttribute('hidden',''));
    Array.from(circles).map(d=>d.setAttribute('hidden',''));

  }
</script>

<div class="table table-responsive-xxl">
  <table class="table table-hover">
    <tr>
      <th scope="col" style="position: sticky" class="frozen">Hole</th>
      {% for hole in player_scores.0 %}
      <th scope="col">
        {{hole.hole__hole_number}}<sub>{{hole.hole__yards}}</sub>
      </th>
      {% endfor %}
    </tr>
    <tr>
      <th scope="col" style="position: sticky" class="frozen">
        Par<sub>S.I.</sub>
      </th>
      {% for hole in player_scores.0 %}
      <th scope="col">
        {{hole.hole__par}}<sub>{{hole.hole__stroke_index}}</sub>
      </th>
      {% endfor %}
    </tr>
    {% for player in player_scores %}
    <tr class="table align-middle">
      <th scope="row" style="position: sticky" class="frozen">
        <a
          title="Stats"
          href="{% url 'stats_page' player=player.0.player__slug %}"
          >{{player.0.player__first_name}}
        </a>
          {% if player.0.team %}
          <sub>Team {{player.0.team}}</sub>
          {% endif %}
      </th>

      {% for score in player %} {% if score.strokes == None %}
      <td></td>
      {% else %}
      <td name="points_view" hidden>
        {{score.strokes}} <sub>{{score.stableford_score}}</sub>
        <span
          class="sandy"
          title="Sandy"
          {% if  score.sandy  %}

          {%  else %}
          hidden
          {%  endif %}
        ></span>

      </td>
      <td name='circle_view' >
        {% if score.strokes|sub:score.hole__par == -2 %}
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="12" stroke="var(--bs-body-color)" fill="var(--bs-body-color)"></circle>
          
          <text x="15" y="16" 
          fill="green" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.stableford_score > 4 %}
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="14" stroke="var(--bs-body-color)" fill="None"></circle>
          <circle cx="15" cy="15" r="12" stroke="var(--bs-body-color)" fill="None"></circle>
          <circle cx="15" cy="15" r="10" stroke="var(--bs-body-color)" fill="None"></circle>
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.stableford_score == 4 %}
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="12" stroke="var(--bs-body-color)" fill="None"></circle>
          <circle cx="15" cy="15" r="10" stroke="var(--bs-body-color)" fill="None"></circle>
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.stableford_score == 3 %}
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="12" stroke="var(--bs-body-color)" fill="None"></circle>
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.stableford_score == 1 %}
        <svg height="30" width="30">
          <rect x="3" y="3" height="24" width="24" stroke="var(--bs-body-color)" fill="None"></rect>
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.stableford_score < 1 %}
        <svg height="30" width="30">
          <rect x="3" y="3" height="24" width="24" stroke="var(--bs-body-color)" fill="None"></rect>
          <rect x="5" y="5" height="20" width="20" stroke="var(--bs-body-color)" fill="None"></rect>
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% else %}
        <svg height="30" width="30">
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% endif %}
        
      </td>
      <td name='par_view' hidden>
        {% if score.strokes|sub:score.hole__par == -2 %}
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="12" stroke="var(--bs-body-color)" fill="var(--bs-body-color)"></circle>
          
          <text x="15" y="16" 
          fill="green" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.strokes|sub:score.hole__par == -1 %}
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="12" stroke="var(--bs-body-color)" fill="None"></circle>
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.strokes|sub:score.hole__par == 0 %}
        <svg height="30" width="30">
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.strokes|sub:score.hole__par == 1 %}
        <svg height="30" width="30">
          <rect x="3" y="3" height="24" width="24" stroke="var(--bs-body-color)" fill="None"></rect>
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.strokes|sub:score.hole__par == 2 %}
        <svg height="30" width="30">
          <rect x="3" y="3" height="24" width="24" stroke="var(--bs-body-color)" fill="None"></rect>
          <rect x="5" y="5" height="20" width="20" stroke="var(--bs-body-color)" fill="None"></rect>
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% elif score.strokes|sub:score.hole__par > 2 %}
        <svg height="30" width="30">
          <rect x="5" y="5" height="20" width="20" stroke="var(--bs-body-color)" fill="var(--bs-body-color)"></rect>
          <text x="15" y="16" 
          fill="green" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
        </text>
        </svg >
        {% else %}
        <svg height="30" width="30">
          <text x="15" y="16" 
          fill="var(--bs-body-color)" 
          text-anchor="middle" 
          alignment-baseline="middle"
          >{{score.strokes}}
          {% comment %} <sub>{{score.stableford_score}}</sub> {% endcomment %}
        </text>
        </svg >
        {% endif %}
        
      </td>
      {% endif %} {% endfor %}
    </tr>
    {% endfor %}
    
    {% if player_scores.0.0.match_play_result != None %}
    <tr>
      <td></td>
      {% for score in player_scores.0 %}
      <td>
        {% if score.match_play_result %}
        {{score.match_play_result}}
        {% elif score.match_play_result == 0 %}
        1/2
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endif %}

    {% if user.is_superuser %}
    <tr>
      <th style="position: sticky" class="frozen"></th>

      {% for hole in player_scores.0 %}
      <td>
        <a
          {% comment %} class="btn btn-bg-warning" {% endcomment %}
          href="{% url 'edit_scores' tournament=tournament holiday=holiday.slug selected_round=selected_round.round_number hole=hole.hole_id %}"
        >
          Edit
        </a>
      </td>
      {% endfor %}
    </tr>
    {% endif %}
  </table>
</div>



{% if match_play %}
<div class="table table-responsive-xxl">
  <table class="table table-hover">
    <tr>
      <th style="position: sticky" class="frozen">
        Hole
      </th>
      {% for hole in match_play.0 %}
      <td>
        {{hole.hole}}
      </td>
      {% endfor %}
    </tr>
    <tr>
      <th style="position: sticky" class="frozen">
        Team 1 {{match_play.1}}
      </h>
      {% for hole in match_play.0 %}
      <td>
        {{hole.points_1}}
      </td>
      {% endfor %}
    </tr>
    <tr>
      <th style="position: sticky" class="frozen">
        Team 2 {{match_play.2}}
      </th>
      {% for hole in match_play.0 %}
      <td>
        {{hole.points_2}}
      </td>
      {% endfor %}
    </tr>
  </table>
  
</div>
{% endif %}
<div class="row">
  <div class="col-sm-12 col-lg-6 player-1" id="player-1">
    <script id="player" type="application/json">
      {"round_id": {{player_scores.0.0.golf_round}},"holiday_id":{{player_scores.0.0.golf_round__holiday}}}
    </script>
    <script
      type="module"
      src="{% static 'tournaments/js/scores_graph.js' %}"
    ></script>
  </div>
  <div class="col-sm-12 col-lg-6 player-2" id="player-2">
    <script id="player" type="application/json">
      {"round_id": {{player_scores.0.0.golf_round}},"holiday_id":{{player_scores.0.0.golf_round__holiday}}}
    </script>
    <script
      type="module"
      src="{% static 'tournaments/js/scores_graph.js' %}"
    ></script>
  </div>
  <div class="col-sm-12 col-lg-6 player-3" id="player-3">
    <script id="player" type="application/json">
      {"round_id": {{player_scores.0.0.golf_round}},"holiday_id":{{player_scores.0.0.golf_round__holiday}}}
    </script>
    <script
      type="module"
      src="{% static 'tournaments/js/scores_graph.js' %}"
    ></script>
  </div>
  <div class="col-sm-12 col-lg-6 player-4" id="player-4">
    <script id="player" type="application/json">
      {"round_id": {{player_scores.0.0.golf_round}},"holiday_id":{{player_scores.0.0.golf_round__holiday}}}
    </script>
    <script
      type="module"
      src="{% static 'tournaments/js/scores_graph.js' %}"
    ></script>
  </div>
</div>

{% endblock content %}
