{% extends 'tournaments/base.html' %} 
{% load mathfilters %}
{% block title%}{{player_scores.0.0.hole__course__course_name}}{% endblock %} 
{% block content%} 
{% for row in player_scores %}
    {% for score in row %}
    {% if score.strokes|sub:score.hole__par == -1 %}
    <svg height="30" width="30">
        <circle cx="15" cy="15" r="12" stroke="var(--bs-body-color)" fill="None"></circle>
        <circle cx="15" cy="15" r="10" stroke="var(--bs-body-color)" fill="None"></circle>
        <text x="15" y="16" 
        fill="var(--bs-body-color)" 
        text-anchor="middle" 
        alignment-baseline="middle"
        >{{score.strokes}}</text>
    </svg>
    {% elif score.strokes|sub:score.hole__par == 1 %}
    <svg height="30" width="30">
        <rect x="3" y="3" height="24" width="24" stroke="var(--bs-body-color)" fill="None"></rect>
        <rect x="5" y="5" height="20" width="20" stroke="var(--bs-body-color)" fill="None"></rect>
        <text x="15" y="16" 
        fill="var(--bs-body-color)" 
        text-anchor="middle" 
        alignment-baseline="middle"
        >{{score.strokes}}</text>
    </svg>

    {% endif %}

    {% endfor %}
    <br>
{% endfor %}
{% endblock content %}