{% extends 'tournaments/base.html' %}

{% block title %}{{player_1.0.hole.course}}{% endblock %}
{% block content %}
    

    
<h1>Scores</h1>



<table class="scores">
    <tr>
        <th>Hole</th>
        {% for hole in hole_numbers %}
        <th>{{hole}}</th>
        {% endfor %}
        
    </tr>
    <tr>
        <th>{{player_1.0.player.first_name}}</th>
        {% for stroke in player_1 %}
        <td>{{stroke.strokes}}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>{{player_2.0.player.first_name}}</th>
        {% for stroke in player_2 %}
        <td>{{stroke.strokes}}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>{{player_3.0.player.first_name}}</th>
        {% for stroke in player_3 %}
        <td>{{stroke.strokes}}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>{{player_4.0.player.first_name}}</th>
        {% for stroke in player_4 %}
        <td>{{stroke.strokes}}</td>
        {% endfor %}
    </tr>
</table>


{% endblock content %}