{% extends 'tournaments/base.html' %}
{% block content %}

    

{% load static %}
<script src="{% static 'tournaments/js/d3.v7.js' %}" ></script>
{% comment %} <script id="hello-data" type="application/json">{"round_id": {{player_scores.0.0.golf_round.id}},"holiday_id":{{player_scores.0.0.golf_round.holiday.id}}}</script> {% endcomment %}

<script type="module" src="{% static 'tournaments/js/stats2.js' %}"></script>


<div class="row">
    <div class="col mb-3">
        <label for="" class="form-label">Player</label>
        <select
            class="form-select form-select-lg"
            id="player_choice"
        >
            <option value="" selected>All</option>
            {% for player in players %}
            <option value="{{player.id}}">{{player.first_name}} {{player.last_name}}</option>
            {% endfor %}
            
        </select>
    </div>
    <div class="col mb-3">
        <label for="" class="form-label">Holiday</label>
        <select
            class="form-select form-select-lg"
            id="holiday_choice"
        >
            <option value="" selected>All</option>
            {% for holiday in holidays %}
            <option value="{{holiday.id}}">{{holiday.tournament__name}} {{holiday.holiday_number}} - {{holiday.resort__name}}</option>
            {% endfor %}
            
        </select>
    </div>
    
</div>
<div class="row">

        <div class="col-lg-4 col" id="charts">
            <p class="">Stableford</p>
            <div class="chart-1"></div>
        </div>
        <div class="col-lg-4">
            <p class="">Shots</p>
            <div class="chart-2"></div>
        </div>
        <div class="col-lg-4">
            <p class="">To Par</p>
            <div class="chart-3"></div>
        </div>
        
    
</div>
<div class="row">
    <div class="col">
        <div class="par_stats">
            <script type="module" src="{% static 'tournaments/js/par_avg.js' %}"></script>
        </div>
    </div>
</div>


{% endblock content %}