{% extends 'tournaments/base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'tournaments/js/d3.v7.js' %}" ></script>
{% comment %} <script id="hello-data" type="application/json">{"round_id": {{player_scores.0.0.golf_round.id}},"holiday_id":{{player_scores.0.0.golf_round.holiday.id}}}</script> {% endcomment %}

<script type="module" src="{% static 'tournaments/js/stats.js' %}"></script>

<div class="row">
    <div class="col" id="charts">
        <div class="chart d-flex align-items-center">
            <h3 class="d-flex align-items-ceter">Stableford</h3>
            <div class="chart-1 d-flex"></div>
        </div>
        <div class="chart d-flex align-items-center">
            <h3 class="d-flex align-items-ceter">Shots</h3>
            <div class="chart-2 d-flex"></div>
        </div>
        <div class="chart d-flex align-items-center">
            <h3 class="d-flex align-items-ceter">To Par</h3>
            <div class="chart-3 d-flex"></div>
        </div>
        
    </div>
</div>


{% endblock content %}