:root{
--font_color:#F4D35E;
--background:#247116;


/* --bs-body-font-family:'Ariel',sans-serif; */


}

td,th {
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    text-align: center;
    color: var(--font_color);
  }
h1,h2,h3 {
  color: var(--font_color);
}

body {
  background-color: var(--background);
  padding-top: 60px;
}

a {
  color: var(--font_color);
}
.navbar {
  background-color: #19647E;
}

