:root{
--font_color:yellow
}

td,th {
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    text-align: left;
    color: var(--font_color);
  }
h1,h2,h3 {
  color: var(--font_color);
}

body {
  background-color:#228B22
}

a {
  color: var(--font_color);
}