{% extends "tournaments/base.html" %}

{% block content %}
{% load static %}
<div class="row">
    <div class="col">
        <a class="navbar-brand " href="{% url 'player_stats' %}">Back to Player Stats</a>
    </div>
</div>
<div class="row justify-content-center" >

    <div class="col-10 col-lg-6 p-2 m-2 d-flex" style="height:350px; width:350px;overflow:hidden;" >
    {% if player.picture %}
        <img src="{{player.picture.url}}" class="mx-auto " alt="...">
    {% else %}
        <img src="{% static 'tournaments/pictures/superbock.png' %}" class="mx-auto h-100 " alt="...">  
    {% endif %}
    </div>
    
    
    <div class="col-8 col-lg-4 p-2  ">
        <h1>{{player.first_name}} {{player.last_name}}</h1>
        <div class="row justify-content-center">

            <div class="col-8 col-lg-6">
                <p>Rounds played: {{rounds}}
                    <br>
                    Eagles: {{pars_birdies.0}}
                    <br>
                    Birdies: {{pars_birdies.1}}
                    <br>
                    Pars: {{pars_birdies.2}}
                    <br>
                    Bogeys: {{pars_birdies.3}}
                    <br>
                    Doubles: {{pars_birdies.4}}
                    <br>
                    Worse: {{pars_birdies.5}}
                </p>
            </div>
            
            <div class="col-8 col-lg-6">
                <p>
                    <br>
                    Eagles per round: {{per_round.0}}
                    <br>
                    Birdies per round: {{per_round.1}}
                    <br>
                    Pars per round: {{per_round.2}}
                    <br>
                    Bogeys per round: {{per_round.3}}
                    <br>
                    Doubles per round: {{per_round.4}}
                    <br>
                    Worse per round: {{per_round.5}}

                </p>
            </div>


    
            <hr class="border border-warning border-2 opacity-100">
            <div class="row justify-content-center">
            <div class="col-8 col-lg-6">
                <p>
                    Blobs: {{stable_scores.0}}
                    <br>
                    1's: {{stable_scores.1}}
                    <br>
                    2's: {{stable_scores.2}}
                    <br>
                    3's: {{stable_scores.3}}
                    <br>
                    4's: {{stable_scores.4}}
                    <br>
                    5's: {{stable_scores.5}}
                </p>
            </div>
            <div class="col-8 col-lg-6">
                <p>
                    Blobs per round: {{stable_per_round.0}}<br>-> {{avg_score.0}} points
                    <br>
                    1's per round: {{stable_per_round.1}}<br>-> {{avg_score.1}} points
                    <br>
                    2's per round: {{stable_per_round.2}}<br>-> {{avg_score.2}} points
                    <br>
                    3's per round: {{stable_per_round.3}}<br>-> {{avg_score.3}} points
                    <br>
                    4's per round: {{stable_per_round.4}}<br>-> {{avg_score.4}} points
                    <br>
                    5's per round: {{stable_per_round.5}}<br>-> {{avg_score.5}} points
                </p>
            </div>
        </div>
    </div>
</div>
<hr class="border border-warning border-2 opacity-100">
<div class="row my-4">
    <h2>Rounds</h2>
    <div class="accordion" id="accordionExample">
        {% for round in player_rounds %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{forloop.counter}}">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{forloop.counter}}"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                >
                    {{round.holiday.tournament}} ---- {{player_stab_totals|slice:forloop.counter|last}} Points
                    <br>
                    Holiday {{round.holiday.holiday_number}} Round {{round.round_number}} {{round.score_set.all.0.hole.course}}
                </button>
            </h2>
            <div
                id="collapse{{forloop.counter}}"
                class="accordion-collapse collapse"
                aria-labelledby="heading{{forloop.counter}}"
                data-bs-parent="#accordionExample"
            >
                <div class="accordion-body">
                    <h5>Strokes : {{player_totals|slice:forloop.counter|last}}</h5>
                    <div
                        class="table-responsive"
                    >
                        <table
                            class="table"
                        >
                            <thead>
                                <tr>
                                    <th scope="col">Hole</th>
                                    <th scope="col">Par</th>
                                    <th scope="col">Shots</th>
                                    <th scope="col">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for score in round.score_set.all %}
                                {% if score.player == player %}
                                <tr class="">
                                    <td scope="row">{{score.hole.hole_number}}</td>
                                    <td scope="row">{{score.hole.par}}</td>
                                    <td scope="row">{{score.strokes}}</td>
                                    <td scope="row">{{score.stableford_score}}</td>
                                    
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endfor %}  
    </div>
    
</div>
{% endblock content %}